// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #FC6E5E;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

//custom
$guided-white: #fdfdfd;
$guided-blue: #000022;
$guided-grey: #55556C;
$guided-highlight: #E8E62D;
