<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="landmarkshow-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.1) 50%), url(<%= @landmark.image %>);">
        <div class="landmarkbanner-content">
          <h1>
            <%= @landmark.name %>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 landmarkshow-content">
      <p>
        <%= @landmark.description %>
      </p>

      <%= render 'stories/story_list', stories: @stories %>

    </div>
  </div>
</div>
