// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

a:hover a:active {
  text-decoration: none;
  color: #fb412c;
}

a:-webkit-any-link {
    cursor: auto;
    text-decoration: none;
}
