<div class="banner" style="background-image: linear-gradient(-225deg, rgba(247,129,84,0.0) 0%, rgba(242,193,78,0.0) 20%), url('<%= image_path 'banner.jpg' %>');">
  <div class="banner-content">
   <%= image_tag 'guided.png' %>
   <p>Everyone is a storyteller</p>
   <%= link_to "Discover Nearby Stories", landmarks_path, class: "btn btn-primary btn-lg", id: "get_location" %>
 </div>
</div>

<%= content_for(:after_js) do %>
<script>
  $('#get_location').on("click", function(e) {
    e.preventDefault();
    getLocation();
  });
</script>
<% end %>
