<%= render 'shared/banner', name: @landmark.name, image: @landmark.image, landmark: @landmark %>

<div class="container">
<%= render 'shared/map', markers: @markers %>
<h3>Stories</h3>
<%= render 'stories/story_list', stories: @landmark.stories %>

</div>

