<% stories.each do |story|%>
<div class="story-list">
  <div class='story-list-upvote'>
    <div class="story-list-arrow"></div>
    <div class='story-list-count'>0</div>
  </div>
  <img src=<%= story.image %> alt="kudoz" class="story-list-image hidden-xs">
  <div class='story-list-body'>
    <h3><%= story.title %></h3>
    <p><%= story.description %></p>
  </div>
  <ul class="list-inline story-list-controls hidden-sm hidden-xs">
    <li><a href=""><i class="fa fa-star"></i></a></li>
  </ul>
</div>
<% end %>
