<%= render partial: 'shared/tiny_banner', locals: {
  image: "https://i0.wp.com/behindthelenscap.smugmug.com/Amsterdam/i-gPrPZck/0/ecde89d7/L/Amsterdam-kade-2-L.jpg?resize=800%2C500&ssl=1"
} %>
<div class="container">
<h1>All stories</h1>


<%= render 'story_list', stories: @stories %>


<!-- end of container -->
</div>

