.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

/* Build your own button classes ! */

// HTML:
// <a href="#" class="btn-medium">Write a story</a>
// <a href="#" class="btn-treehouse">Start now</a>

.trash-button {
  z-index: 9999999;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $red;
  border: none;
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 200ms ease;
  &:hover {
      transform: scale(1.05);
    color: white;
    text-decoration: none;
  }
}
