/* Main navbar */
.navbar-wagon {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  width: 100%;
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  background-color: transparent;
  z-index: 9999;
}

.container {
  position: relative;
}

.navbar-wagon-wrapper {
  left: 0;
  right: 0;
  top: 0;
      z-index: 9999;

}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
  .fa-bars {
    color: white;
    font-size: 20px;
  }
}

/* Navbar link */
.navbar-wagon-link {
     color: white;
    font-size: 16px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(1,1,1,0.3);
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

// HTML:
// <div class="navbar-wagon">
//   <!-- Logo -->
//   <a href="/" class="navbar-wagon-brand">
//     <img src="images/logo.png" alt="logo">
//   </a>

//   <!-- Right Navigation -->
//   <div class="navbar-wagon-right hidden-xs hidden-sm">

//     <a href="" class="navbar-wagon-item navbar-wagon-link">Host</a>
//     <a href="" class="navbar-wagon-item navbar-wagon-link">Trips</a>
//     <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a>

  //   <!-- Profile picture with dropdown list -->
  //   <div class="navbar-wagon-item">
  //     <div class="dropdown">
  //       <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
  //       <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
  //         <li><a href="#">Profile</a></li>
  //         <li><a href="#">Dashboard</a></li>
  //         <li><a href="#">Log Out</a></li>
  //       </ul>
  //     </div>
  //   </div>
  // </div>

//   <!-- Dropdown appearing on mobile only -->
//   <div class="navbar-wagon-item hidden-md hidden-lg">
//     <div class="dropdown">
//       <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
//       <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
//         <li><a href="#">Host</a></li>
//         <li><a href="#">Trips</a></li>
//         <li><a href="#">Messagese</a></li>
//       </ul>
//     </div>
//   </div>
// </div>
