.orb {
      width: 40px;
    height: 40px;
    display: inline-flex;
    background-color: #fc6d5d;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-weight: 800;
    box-shadow: 1px 1px 4px rgba(1,1,1,0.3);
    .fa-bolt {
      margin-right: 2px;
    }
}

.user-image {
  position: relative;
  .orb {
    position: absolute;
    top: 0;
    right: 0;
  }
}
