.user-image {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  background-size: cover;
  border-radius: 50%;
  background-position: center;
  margin-top: 20px;
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  .btn-warning-round{
    margin-right: 10px;
  }
}

@media(max-width: 768px) {
  .user-bio-profile {
   text-align: center;
   .user-image {
    margin: 20px auto;
   }
   .header-with-item {
    margin: 0 auto;
   }
  }
}

.story-upload-btn {
  // margin: 20px;
  margin-top: 40px;
}

.text-align-center-div {
  text-align: center;
}

.header-with-item {
  position: relative;
  max-width: 210px;
}

.user-follow-star {
  // position: absolute;
  margin: 0 auto;
  // right: 25px;
  // top: 25px;
      position: absolute;
    top: 0;
    right: 0;
  // text-shadow: 2px 2px 4px gray;
  font-size: 0.5em;
  a {
  color: gray;
    &:hover {
      color: $red;
    }
  }
  .following-star {
    color: $orange;
    &:hover{
      color: $red;
    }
  }
}

.following-storyteller {
  height: 100px;
  width: 100px;
}

.highlight-down {
  color: gray;
}

ul.user-actions {
  li {
    margin: 10px 0;
    a {
      display: flex;
      align-items: center;
      .fa {
        flex: 0 0 27px;
      }
    }
  }
}

.current-user-stories img {
  display: none;
}
