.user-image {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  background-size: cover;
  border-radius: 50%;
  background-position: center;
  margin-top: 20px;
  margin-left: 0px;
}

.story-upload-btn {
  // margin: 20px;
  margin-top: 40px;
}

.text-align-center-div {
  text-align: center;
}

.user-follow-star {
  position: absolute;
  margin: 0 auto;
  right: 25px;
  top: 25px;
  color: white;
  text-shadow: 2px 2px 5px black;
  font-size: 1.5em;
  a {
    color: white;
    &:hover {
      color: $red;
    }
  }
  .following-star {
    color: $orange;
    &:hover{
      color: $red;
    }
  }
}
