body {
  background-color: #F9F8F4;
  color: #0E1C36;
}

.all-stories-container {
  margin: 10px
}

.spaced-out-icons {
  li {
    margin: 10px 0;
    display: flex;
    .fa {
      flex: 0 0 50px;
    }
  }
}
